edit-button{
    margin-left: 140px;
}

.contentLayout{
    background-color: var(--body_background) !important;
    color:var(--body_color) !important;
}

.groupName{
    width: 1400px;
    float: left;
}
.btn-bottom{
    margin-bottom: 10px;
}

.contentCap {
    text-transform: capitalize;
}

.height-div{
    min-height: 255px;
}